@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* header */
.bg-headfoot {
    background-color: #191A1D;
}
.border-blu {
    border-color : #6B62FE;
}
.text-blu {
    color : #6B62FE;
}
.bg-blu {
    background-color: #6B62FE;
}
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background-color: #6B62FE;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
 }

@media only screen and (min-width: 650px) {
    .project-pic {
        height:450px;
    }
}   

@media only screen and (min-width: 650px) and (min-width: 1100px){
        .detail-pic {
            height:500px;
        }    
}

@media only screen and (min-width: 1100px) {
    .detail-pic {
        height:600px;
    }    
}

.blog-det {
    margin-top: 28rem;
}
@media only screen and (min-width: 700px) {
    .blog-det {
        margin-top: 40rem;
    }
}   

